<div style="width: 60%; margin-left: 20%; padding: 10px" class="text-center" id="chart_div5">

    <h3 style="font-weight: 700">Ordenes A Realizar</h3>

  {% for value in resultados %}
    <div style="border: 2px solid white; margin: 10px">
        <table class="table">
            <tr>
                <th>No. Orden:</th>
                 <td>{{loop.index}}</td>
                <td></td>
                <th>Suplidor:</th>
                 <td>{{ value["MejorSuplidor"] }}</td>
            </tr>

            <tr>
                <th>Fecha Orden:</th>
                 <td>{{ value["fechaParaOrden"] }}</td>
                <td></td>
                <th>Monto Total:</th>
                 <td>${{ value["totalPrecio"] }}</td>
            </tr>


            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unidad</th>
            </tr>

            {% for pro in value["productos"] %}

            <tr>
                <td>{{pro["productoNombre"]}}</td>
                <td>{{pro["cantidadPedir"]}}</td>
                <td>{{pro["precioUnidad"]}}</td>
            </tr>
    {% endfor %}

        </table>
    </div>
    {% endfor %}



</div>
